.filter-panel {
    background-color: #aac5c2;
    padding: 20px;
    border-radius: 5px;
    width: 97%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: auto;
  }
  
  .filter-panel select,
  .filter-panel input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #fbe7b2;
    border-radius: 4px;
  }
  