/* src/Styles/Summary.css */
.summary {
  padding: 20px;
  border-radius: 12px;
  flex: 1;
  max-width: 500px;
  text-align: left;
}

.summary p {
  font-size: 1rem;
  color: #333;
  margin: 10px 0;
}

.summary h3 {
  color: #1b4749;
  font-size: 1.1rem;
  margin-bottom: 0;
}

.summary h4 {
  text-align: center;
}

.summary-chart {
  margin-top: 30px;
  padding: 15px;
  background: #ffff;
  width: 800px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
